@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #6B6B6B;
  margin-bottom: 20px;
}

a {
  color:#1E9CFF;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.legendContainer {
  /* min-height: 100vh; */
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  margin: auto;
  /* max-width: 700px; */
}